* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

* {
  font-family: Ostwald;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", cursive;
  color: rgb(30, 101, 255);
}

.header {
  padding: 30px 16px;
  text-align: center;
  background-color: aquamarine;
}

.main {
  max-width: 800px;
  padding: 16px;
  margin: 0 auto;
}

.main > * + * {
  margin-top: 60px;
}

.Links + .Links {
  margin-left: 30px;
}

.Links {
  padding: 5px 10px;
  color: darkcyan;
}

.Links:active {
  font-size: 20px;
  color: white;
  background-color: black;
  border: 4px solid darkcyan;
}

.Links:hover {
  color: black;
  background-color: darkcyan;
  border: 4px solid white;
}

.main > article {
  border-top: 4px solid darkcyan;
}

::selection {
  color: white;
  background-color: black;
}

.Head::after {
  content: "👾";
}
